#title_card {
  height: 50px;
  vertical-align: middle;
  padding: 12px;
  border-bottom: 3px solid lightgray;
}

#title_card_text {
  margin-left: 20px;
}

.vertical_stack {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.form_part {
  width: 500px;
  margin: 10px;
  height: 50px;
  border: none;
  border-bottom: 2px solid red;
}

.red_button {
  margin-top: 25px;
  width: 500px;
  height: 50px;
  border: none;
  background-color: red;
}

.centered_heading {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 25px;
}

.centered_text {
  margin-top: 10px;
  text-align: center;
}

.link {
  font-weight: bold;
}
