#title_card {
  height: 10vh;
  border-bottom: 2px solid lightgray;
  display: flex;
  align-items: center;
}

#title_card_text {
  margin-left: 4vh;
}

.vertical_stack {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form_part {
  width: 500px;
  margin: 10px;
  height: 50px;
  border: none;
  border-bottom: 2px solid rgb(214, 24, 24);
}

.red_button {
  margin-top: 25px;
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(214, 24, 24);
  color: white;
  font-size: medium;
  font-weight: bold;
}

.centered_heading {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 25px;
}

.centered_text {
  margin-top: 10px;
  text-align: center;
}

.link {
  font-weight: bold;
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid lightgray;
}

.sidebtn {
  height: 40px;
  width: 150px;
  background: none;
  border: none;
  margin: 10px;
  font-size: large;
}

.sidebtnclicked {
  height: 40px;
  width: 150px;
  background-color: rgb(214, 24, 24);
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: large;
}

#sideLine {
  margin-top: 10px;
  margin-bottom: 10px;
}

#userCircle {
  background-color: rgb(214, 24, 24);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#usercard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid lightgray;
  padding-left: 1vh;
  padding-top: 1vh;
  height: 8vh;
  width: 200px;
}

.horizontalItems {
  display: flex;
  flex-direction: row;
}

.userGrid {
  padding: 10vh;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px 20px;
}